.btn {
  padding: 10px;
  background-color: rgba(237, 198, 42, 0.935);
  color: black;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}
.btn:hover {
  cursor: pointer;
  background-color: rgba(237, 216, 134, 0.935);
}

.btn.outline {
  background-color: transparent;
  border: 1px solid rgba(237, 198, 42, 0.935);
  color: black;
}
.btn.outline:hover {
  background-color: rgba(237, 216, 134, 0.935);
  color: black;
}

@media screen and (max-width: 600px) {
  .btn {
    padding: 5px;
  }
}
